<app-header
    title="Reset your password"
    primaryBtnText="Send"
    [primaryBtnDisabled]="form.invalid || isLoading"
    secondaryBtnText="Back to Login"
    (submit)="submit()"
    (navigate)="navigateToLogin()"
>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            placeholder="Enter your email"
            label="Email"
            required
            (blur)="form.get('email')?.markAsTouched()"
        >
            <img src="/assets/email.svg" alt="Email Icon" />
        </app-primary-input>

    @if (form.get('email')?.touched && form.get('email')?.invalid) {
        <div class= "error-message">
            @if (form.get('email')?.errors?.['required']) {
                <span class="error"  >Email é obrigatório</span>
            }
            @if (form.get('email')?.errors?.['email']) {
                <span class="error" >Digite um email válido.</span>
            }
        </div>
    }
    </form> 
</app-header>
