<app-header
    title="Sign in"
    primaryBtnText="Sign in"
    secondaryBtnText="Login now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>

    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            placeholder="Enter your name"
            label="Your Name"
            placeholder="Enter your name"
            required
        >
            <img src="/assets/email.svg" alt="Email Icon" />
        </app-primary-input>

        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            placeholder="Enter your email"
            label="Email"
            required
        >
            <img src="/assets/email.svg" alt="Email Icon" />
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
            placeholder="******"
            required
        >
            <img src="/assets/password.svg" alt="Password Icon" />
        </app-primary-input>
        @if (signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['minlength']) {
        <div style="color:red; font-size:13px;">
            A senha deve conter no mínimo 6 caracteres.
        </div>
}

        <app-primary-input
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            placeholder="******"
            label="Confirm your password"
            required
        >
            <img src="/assets/password.svg" />
        </app-primary-input>
        @if (signupForm.hasError('passwordsMismatch') && signupForm.get('passwordConfirm')?.touched) {
        <div style="color: red; font-size: 13px;">
            As senhas não conferem.
        </div>
}
    </form>
</app-header>


